*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 50px;
}
.hidden_word {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 2em;
    font-weight: bold;
}